.modal {
    position: flex;
    text-align: center;
    justify-content : center;
    align-items: center; 
    font-size: 16px;
    background-color: #ffffff;
    border-radius: 15px;
  }

.popup-content {
    text-align: center;
    justify-content : center;
    border-radius: 15px;
    width: 40%;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 20px #ffa011;

}

.button {
    position: flex;
    text-align: center;
    justify-content : center;
    align-items: center;
    margin-bottom: 15px;
}

.password-input {
  margin-top: 30px; // Increase this value to create more space below the text

}
  .modal > .header {
    width: 100%;
    font-size: 18px;
    text-align: center;
    padding: 5px;
  }
  .modal > .content {
    width: 100%;
    padding: 20px 0px;
    border: white;
    box-shadow: none;
  }
  .modal > .actions {
    width: 100%;
    margin: auto;
    text-align: center;
  }
  .modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
  }